
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<span class="icon-shopping_cart"></span>[<span id="cart-count">@ViewBag.CartCount</span>]