
@{
    ViewData["Title"] = "AboutUs";
}
<div class="hero-wrap hero-bread" style="background-image: url(https://www.greenqueen.com.hk/wp-content/uploads/2021/07/Rental-Fashion-Causes-More-Emissions-Than-Throwing-Clothes-Away.jpg;">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center"
                 style="background-image: url(https://www.madewell.com/brand_creative/jpg/w-2023-aug1flyout-preloved.jpg?wid=1080&fmt=jpeg&fit=wrap&qlt=70,1&resMode=bisharp&op_usm=0.5,1,5,0);margin-top: 7%;margin-bottom: 7%;">
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4">به وب سایت  فروشگاه آخرهفته خوش آمدین</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>آخرهفته حاصل یک تلاش خانوادگی است، حوزه فعالیت خانواده شیرازی ها از دیرباز پوشاک بوده است اما طی سال ها تغییر و کسب تجربه 25ساله در حوزه های فن آوری، واردات و صادرات به صنعت خود بازگشتند و   اولین شتاب دهنده صنعت مد و لباس در کشور در این خانواده متولد شد….

 

                        آخرهفته  از سال 1397به صورت تخصصی در حوزه طراحی، تولید و عرضه پوشاک زنانه و محصولات مرتبط با آن با امکان خرید حضوری و آنلاین فعالیت می کند و در تلاش است تا بازارهای بین المللی را بدست آورد.
                        
                         
                        
                        ماموریت ما طراحی، تولید و عرضه پوشاک و اکسسوری ها است و فعالیت های خود را در این حوزه به صورت خرده فروشی وعمده فورشی انجام می دهیم، این برند در حال حاضر بر بازار پوشاک زنانه تمرکز دارد 
                    </p>
                   
                    <p><a href="#" class="btn btn-primary">خرید آنی</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
